[mysqld]
user=mysql

basedir = /opt/mysql/server-5.6
lc-messages-dir = /opt/mysql/server-5.6/share

datadir = /var/lib/mysql

default-storage-engine=innodb
lower_case_table_names=1
innodb_file_per_table
local-infile=0

symbolic-links=0
